ANUBIS_ENV=development
ANUBIS_AI_CORE_HOST=127.0.0.1
ANUBIS_AI_CORE_PORT=8100
ANUBIS_RAG_URL=http://127.0.0.1:8101
ANUBIS_QDRANT_URL=http://127.0.0.1:6333
ANUBIS_QDRANT_COLLECTION=anubis_memory
ANUBIS_DATA_DIR=.anubis
ANUBIS_ALLOWED_WORKSPACE=.
ANUBIS_LLM_PROVIDER=mock
ANUBIS_REQUEST_TIMEOUT_SECONDS=30
